parameters:
	ignoreErrors:
		-
			message: '#^Relation ''roles'' is not found in App\\Models\\Operator model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/OperatorController.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OperationResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/OperationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OperationResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OperationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OperationResource\:\:\$release_date\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OperationResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OperatorResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OperatorResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OperatorResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OperatorResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OperatorResource\:\:\$queerIdentities\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OperatorResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OperatorResource\:\:\$rework\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OperatorResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OperatorResource\:\:\$roles\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OperatorResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OperatorResource\:\:\$side\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OperatorResource.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\OperatorResource\:\:getOperation\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/OperatorResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoleResource\:\:\$definition\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoleResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoleResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoleResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\RoleResource\:\:\$operators\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/RoleResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\SecondaryGadgetResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/SecondaryGadgetResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\SecondaryGadgetResource\:\:\$operators\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/SecondaryGadgetResource.php

		-
			message: '#^Access to an undefined property App\\Models\\Operator\:\:\$rework\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Operator.php

		-
			message: '#^Using nullsafe property access "\?\-\>season" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Models/Operator.php

		-
			message: '#^Using nullsafe property access "\?\-\>year" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Models/Operator.php
