.button-1 {
    font-family: 'GT America', sans-serif;
    background-color: #ff4b3c;
    color: #010101;
    text-transform: uppercase;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    height: 40px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all ease 50ms;
    vertical-align: baseline;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 20px 10px 5px 10px;
}

.button-1.grey {
    background-color: #b0bac6;
}

.button-1:hover,
.button-1:focus {
    background-color: #f8d002;
}

.button-1 svg {
    height: 15px;
    width: 15px;
    margin: 0px 5px 0 0;
}

.button-1 path {
    fill: #010101;
}
