#container {
    height: 80vh;
}

#main-content {
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 17, 17, 0.7);
    border: 1px solid #ff4b3c;
    color: #fefefe;
}

#osa {
    height: 200px;
    width: auto;
}

#login-form,
.form-element {
    display: grid;
    justify-items: center;
}

.form-element {
    max-width: 90%;
    row-gap: 2px;
}

#login-form {
    row-gap: 20px;
}
