#main-content {
    color: #fefefe;
}

#squad-table {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
.header img {
    width: 300px;
    height: auto;
}
.header p {
    margin: 0;
    font-size: 24px;
}

.squad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.squad-logo {
    height: 100px;
    width: auto;
    margin: 10px;
}

.operator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.operator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.operator-icon {
    width: 80px;
    height: auto;
}

.operator-name,
.squad-name {
    font-family: 'GT America', sans-serif;
    text-transform: uppercase;
    margin: 5px;
}

.operator-name {
    font-size: 20px;
}

.squad-name {
    font-size: 24px;
}

.wolfguard {
    background-color: rgba(6, 140, 178, 0.3);
}

.ghosteyes {
    background-color: rgba(4, 88, 34, 0.3);
}

.redhammer {
    background-color: rgba(129, 18, 9, 0.3);
}

.viperstrike {
    background-color: rgba(223, 187, 2, 0.3);
}

.nighthaven {
    background-color: rgba(231, 235, 238, 0.3);
}

.unaffiliated {
    background-color: rgba(57, 43, 88, 0.3);
}

#credit {
    margin: 10px 0 0 0;
}

.gadget-table.attack .gadget-row {
    background-color: rgba(217, 97, 15, 0.3);
}

.gadget-table.defense .gadget-row {
    background-color: rgba(14, 135, 200, 0.3);
}

.gadget-logo {
    width: auto;
    max-height: 50px;
}

.gadget-table .operator-container {
    justify-content: left;
    margin: 0 10px 0 0;
    min-width: max-content;
}

.gadget-table .operator-icon {
    width: 60px;
    cursor: pointer;
}

.gadget {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gadget-name {
    font-family: 'Simplon Mono', sans-serif;
    text-transform: uppercase;
    margin: 0 5px;
}

#gadget-side-btn {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-row-gap: 10px;
    grid-column-gap: 0;
    justify-content: center;
}

.faded {
    opacity: 0.25;
}

.screenshot {
    display: none !important;
}

@media screen and (max-width: 790px) {
    .gadget-table .operator-container {
        justify-content: center;
        margin: 0 10px 0 0;
        max-width: 80px;
        flex-direction: column;
    }

    .gadget-logo {
        max-width: 90px;
    }
}
